<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            Ready to take the next step? Let’s talk about how ExitHedge can help you move forward with confidence.
        </p>
        <a href="/contact" class="cs-button-solid">Get in Contact Now</a>
    </div>
    <picture>
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/home-page/hero-exit.jpg' | resize({ width: 800, position: 'bottom' }) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/home-page/hero-exit.jpg' | resize({ width: 800, position: 'bottom' }) | webp %}">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/home-page/hero-exit.jpg' | resize({ width: 800, position: 'bottom' }) | webp({ quality: 95 }) %}">
                    <img loading="lazy" aria-hidden="true"  decoding="async" src="{% getUrl '/assets/images/home-page/hero-exit.jpg' | resize({ width: 800, position: 'bottom' }) | webp %}" alt="meeting" width="275" height="132">
                </picture>

</section>