<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1339">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Your Trusted Business Broker</h2>
            
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/project-one">The Selling Process</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/Project-two">Business Valuation</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/">Business Valuation Calculator</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/finding-broker">Finding a Broker</a>
                </li>
                
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact ExitHedge</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:405-615-6361">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-white.svg" alt="phone icon" width="24" height="24">
                        {{client.phoneFormatted}}
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:info@exithedge.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-white.svg" alt="email icon" width="24" height="24">
                        {{client.email}}
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://maps.app.goo.gl/5WcC3CjwRRX3qH247" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-white.svg" alt="pin icon" width="24" height="24">
                        Norman, OK
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 ExitHedge – A Division of 
            <a href="https://lawhedge.com" class="cs-credit-link" target="_blank" rel="noopener">LawHedge</a>
            <span> | Designed by </span>
            <a href="https://www.betterwebsite.ai" class="cs-credit-link" target="_blank" rel="noopener">Better Website</a>
        </span>
        <div class="cs-bottom-links">
            <a href="/privacy-policy" class="cs-bottom-link">Privacy Policy</a>
            <a href="/terms-of-use" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>