---
title: "What is My Business Worth? | ExitHedge"
description: "Meta description for the page"
permalink: "/project-two/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">What is My Business Worth?</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/project-two" class="cs-link cs-active">What is My Business Worth?</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/project-one/banner2.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/project-one/banner2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/project-one/banner2.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> </span>
            <h2 class="cs-title">How to Find Out What Your Business Is Worth</h2>
            <p class="cs-text">
               The first question most owners ask is, ‘What can my company sell for?’ Business valuations are part art and part science, relying on professional judgment, skill, and proven methods.
            </p>
              <p class="cs-text">
                Before beginning the selling process, it’s important to understand what goes into a valuation and how it shapes your exit strategy.
            </p>
            <a href="" class="cs-button-solid">Download More information</a>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/home-page/business-worth.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/home-page/business-worth.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/home-page/business-worth.jpg" alt="building" width="1280" height="568">
        </picture>
    </div>
</section>
<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1662">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What Impacts Your Business Valuation?</span>
            <h2 class="cs-title">When valuing a business, professionals consider factors such as:</h2>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">01</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Size & location
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">02</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Competition
                        </h3>
                        <p class="cs-item-text">
                           
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">03</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Growth rates & industry trends
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">04</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Quality of books
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">05</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Ease of transfer
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">06</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Timing
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">07</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Terms of the sale
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!---SVG Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    </div>
</section>


<!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Approaches for Valuing Your Company</span>
                <h2 class="cs-title">The three generally accepted approaches to valuing a company.</h2>
            </div>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/assets.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/assets.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/assets.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Asset Approach</span>
                        <p class="cs-item-text">
                            The asset approach values a business by adding up its assets and subtracting its liabilities. However, this figure may not fully reflect the true worth of a profitable, ongoing company.
                        </p>
                        <span class="cs-number">01</span>
                    </div>
                    <h3 class="cs-h3">Asset Approach</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/market.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/market.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/marke.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Market Approach</span>
                        <p class="cs-item-text">
                            The market approach works much like real estate comps, comparing recent sales of similar businesses. By analyzing industry databases for multiples, revenue, and earnings, this method is often the most reliable way to estimate value.
                        </p>
                        <span class="cs-number">02</span>
                    </div>
                    <h3 class="cs-h3">Market Approach</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/lawhedgeservice3.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/lawhedgeservice3.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/lawhedgeservice3.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Income Approach</span>
                        <p class="cs-item-text">
                            Most valuation methods factor in projected growth to determine value. The income approach does this by measuring what your business is worth today based on the future income it’s expected to generate for an investor.
                        </p>
                        <span class="cs-number">03</span>
                    </div>
                    <h3 class="cs-h3">Income Approach</h3>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-585">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> </span>
            <h2 class="cs-title">Business Valuations: What You Should Know</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">What is a small business multiple?</h3>
                <p class="cs-item-text">
                    Your hard work deserves the best possible return. At ExitHedge, I’ll analyze your business and apply proven valuation methods to set a fair, competitive listing price in today’s market.
                </p>
                <span class="cs-number"> </span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Are high multiples good?</h3>
                <p class="cs-item-text">
                    ExitHedge ensures your business is marketed confidentially to qualified buyers, with safeguards in place to protect sensitive information.
                </p>
                <span class="cs-number"> </span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">What does mean for my lisitng vs. listing price?</h3>
                <p class="cs-item-text">
                   Your transition should be seamless. ExitHedge manages the entire sale process-coordinating with accountants, lawyers, banks, and landlords to ensure a smooth, successful closing.
                </p>
                <span class="cs-number"> </span>
            </li>
            
        </ul>
    </div>
</section>
                                
                                
                                
    

    {% include 'sections/cta.html' %}

{% endblock %}