---
title: "What is My Business Worth? | ExitHedge"
description: "Meta description for the page"
permalink: "/project-two/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">What is My Business Worth?</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/project-two" class="cs-link cs-active">What is My Business Worth?</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/project-one/banner2.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/project-one/banner2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/project-one/banner2.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> </span>
            <h2 class="cs-title">How to Find Out What Your Business Is Worth</h2>
            <p class="cs-text">
               The first question most owners ask is, ‘What can my company sell for?’ Business valuations are part art and part science, relying on professional judgment, skill, and proven methods.
            </p>
              <p class="cs-text">
                Before beginning the selling process, it’s important to understand what goes into a valuation and how it shapes your exit strategy.
            </p>
            <a href="" class="cs-button-solid"> </a>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/home-page/business-worth.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/home-page/business-worth.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/home-page/business-worth.jpg" alt="building" width="1280" height="568">
        </picture>
    </div>
</section>
<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1662">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What Impacts Your Business Valuation?</span>
            <h2 class="cs-title">When valuing a business, professionals consider factors such as:</h2>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">01</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Size & location
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">02</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Competition
                        </h3>
                        <p class="cs-item-text">
                           
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">03</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Growth rates & industry trends
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">04</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Quality of books
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">05</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Ease of transfer
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">06</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                           Timing
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">07</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Terms of the sale
                        </h3>
                        <p class="cs-item-text">
                            
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!---SVG Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    </div>
</section>





<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-885">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> </span>
            <h2 class="cs-title">Please contact us so we can get the information we need in order to give you the best information.</h2>
            <p class="cs-text">
                
            </p>
        </div>
        
        <a href="/contact" class="cs-button-solid">Contact Now</a>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>
                                                   
                                
                                
                                
    

    {% include 'sections/cta.html' %}

{% endblock %}